@font-face{
  font-family: Dean-font;
  src:url('../font/Chakra/ChakraPetch-Light.ttf');
}

body{
  font-family: Dean-font;
  margin: 0;
  font-size: 14px;
}
section{
  margin: 20px 250px;
}
table{
  text-align: left;
 border-collapse: collapse;
 border: 1px solid forestgreen;
 /* width: 80vw; */
 width: 100%;
}
table, th,td{
  border: 1px solid forestgreen;
}
td{
padding-left: 10px;
line-height:1.8;
}
th{
  font-size: 20px;
  font-weight: bold;
  padding: 10px 10px;
  width: 33%;
}

marker{
  background-color: black;
  color: chartreuse;
  padding:  0 5px;
  margin: 0 2px;
  border-radius: 10px;
}
.nav{
  display: block;
  position: absolute;
  position: fixed;
  background-color: chartreuse;
  width: 100vw;
  height: 100px;
  text-align: center;
  z-index: 1;
}
.nav > .box1-1{
  display: block;
  height: 50px;
}
.box1-1 > .nav-icon{
  display: inline-block;
  margin: 15px 10px;
  width: 80px;

}
.nav > .box1-2{
  display: block;
  height: 50px;

}
.box1-2 > .nav-text{
  display: inline-block;
  margin: 5px 10px;
  width: 80px;
}


.container{
  position: absolute;
  top: 100px;
}


.th-code{
  padding-left: 10px;
  height: 160px;
  background-color: black;
  color: chartreuse;
  /* text-align: center; */
  font-size: 12px;
  
}
.td-code{
  height: 160px;
  padding-left: 10px;
  background-color: black;
  color: chartreuse;
}
