@font-face{
  font-family: Dean-font;
  src:url("../nike/font/Kanit/Kanit-Regular.ttf")
}
 body{
  font-family: Dean-font;
  font-size:14px;
  margin:0px;
} 
@media screen and (min-width: 900px){
.nav1{
  display: flex;
  flex-direction: row;
  font-size: 12px;
  opacity: 0.5;
  width: 100%;
  line-height: 40px;
  border: 1px solid #e5e5e5;
}
.nav1 > .bar1-1{
  border-right: 1px solid #e5e5e5;
  text-align: center;
  /* width: 15%; */
}
.bar1-1 > a{
  padding:  0 20px;
  text-decoration: none;
  color: gray;
}
.nav1 > .bar1-2{
  display: flex;
  justify-content: flex-end;
  width: 85%;
}
.bar1-2 > a{
  padding:  0 20px;
  text-decoration: none;
  color: rgb(134, 115, 115);
}
}
@media screen and (max-width: 899px){
  *{
    display: none;
  }
}