@font-face{
  font-family: Dean-font;
  src:url("../nike/font/Kanit/Kanit-Regular.ttf")
}
 body{
  font-family: Dean-font;
  font-size:14px;
  margin:0px;
} 

.bar1{
  display: flex;
  flex-direction: row;
  font-size: 12px;
  opacity: 0.5;
  width: 100%;
  line-height: 40px;
  border: 1px solid #e5e5e5;
}
.bar1 > .navLogo{
  border-right: 1px solid #e5e5e5;
  text-align: center;
  /* width: 15%; */
}
.navLogo > a{
  padding:  0 20px;
  text-decoration: none;
  color: gray;
}
.bar1 > .navRight{
  display: flex;
  justify-content: flex-end;
  width: 85%;
}
.navRight > a{
  padding:  0 20px;
  text-decoration: none;
  color: gray;
}
